# This is a basic workflow to help you get started with Actions

name: Test and Publish to NPMJS

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Test Suite
        run: |
          yarn
          yarn lint
          yarn unit
          yarn e2e
          yarn docs

      - name: Setup Node.js
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: npm publish

      - name: Documentation gh-pages push
        # Only update docs branch for pushes with tags
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: gh-pages
          create_branch: true
          file_pattern: docs
          commit_message: "Update docs."


